<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.lj.cloud.secrity.dal.WeixinImgMapper">
    <resultMap id="weixinImgResult" type="com.weixindev.micro.serv.common.bean.weixin.WeixinImg">
      <result property="id" column="id" jdbcType="INTEGER"   />
        <result property="title" column="title" jdbcType="VARCHAR"   />
        <result property="headImg" column="headImg" jdbcType="VARCHAR"   />
        <result property="mediaId" column="mediaId" jdbcType="VARCHAR"   />
        <result property="createBy" column="create_by" jdbcType="INTEGER"   />
        <result property="createByUname" column="create_By_UName" jdbcType="VARCHAR"   />
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"   />
        <result property="updateBy" column="update_by" jdbcType="INTEGER"   />
        <result property="updateByUname" column="update_By_Uname" jdbcType="VARCHAR"   />
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"   />
        <result property="imgGroupId" column="img_group_id" jdbcType="INTEGER"   />
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"   />
    </resultMap>

    <sql id="Base_Column_List">
        <![CDATA[
            id ,
            title ,
            headImg ,
            mediaId ,
            create_by ,
            create_By_UName ,
            create_date ,
            update_by ,
            update_By_Uname ,
            update_date ,
            img_group_id ,
            file_size 
        ]]>
    </sql>

   <select id="selectByPrimaryKey" resultMap="weixinImgResult">
     select 
        <include refid="Base_Column_List"/>
        
            from weixin_img 
            where 
               id = #{id,jdbcType=INTEGER}
            
</select>

 <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
           delete from weixin_img where
        id = #{id,jdbcType=INTEGER}
    
       </delete>

 <insert id="insert" useGeneratedKeys="true" keyProperty="id">

      INSERT INTO weixin_img (
         id, title, headImg, mediaId, create_by, create_By_UName, create_date, update_by, update_By_Uname, update_date, img_group_id, file_size
        ) VALUES (
         #{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createByUname,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateByUname,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{imgGroupId,jdbcType=INTEGER}, #{fileSize,jdbcType=VARCHAR}        
        )
   
</insert>

 <insert id="insertSelective" parameterType="com.weixindev.micro.serv.common.bean.weixin.WeixinImg">
         INSERT INTO weixin_img 
             <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="headImg != null" >
                headImg,
            </if>
            <if test="mediaId != null" >
                mediaId,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createByUname != null" >
                create_By_UName,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateByUname != null" >
                update_By_Uname,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="imgGroupId != null" >
                img_group_id,
            </if>
            <if test="fileSize != null" >
                file_size,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

                <if test="id != null" >
                     #{id,jdbcType=INTEGER},
                </if>
                <if test="title != null" >
                     #{title,jdbcType=VARCHAR},
                </if>
                <if test="headImg != null" >
                     #{headImg,jdbcType=VARCHAR},
                </if>
                <if test="mediaId != null" >
                     #{mediaId,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null" >
                     #{createBy,jdbcType=INTEGER},
                </if>
                <if test="createByUname != null" >
                     #{createByUname,jdbcType=VARCHAR},
                </if>
                <if test="createDate != null" >
                     #{createDate,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null" >
                     #{updateBy,jdbcType=INTEGER},
                </if>
                <if test="updateByUname != null" >
                     #{updateByUname,jdbcType=VARCHAR},
                </if>
                <if test="updateDate != null" >
                     #{updateDate,jdbcType=TIMESTAMP},
                </if>
                <if test="imgGroupId != null" >
                     #{imgGroupId,jdbcType=INTEGER},
                </if>
                <if test="fileSize != null" >
                     #{fileSize,jdbcType=VARCHAR},
                </if>
        </trim>
 </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.weixindev.micro.serv.common.bean.weixin.WeixinImg">
    
        UPDATE weixin_img 
     
      <set >
       <if test="title != null and  title != ''" >
            title = #{title,jdbcType=VARCHAR} ,
        </if>
        <if test="headImg != null and  headImg != ''" >
            headImg = #{headImg,jdbcType=VARCHAR} ,
        </if>
        <if test="mediaId != null and  mediaId != ''" >
            mediaId = #{mediaId,jdbcType=VARCHAR} ,
        </if>
        <if test="createBy != null and  createBy != ''" >
            create_by = #{createBy,jdbcType=INTEGER} ,
        </if>
        <if test="createByUname != null and  createByUname != ''" >
            create_By_UName = #{createByUname,jdbcType=VARCHAR} ,
        </if>
        <if test="createDate != null and  createDate != ''" >
            create_date = #{createDate,jdbcType=TIMESTAMP} ,
        </if>
        <if test="updateBy != null and  updateBy != ''" >
            update_by = #{updateBy,jdbcType=INTEGER} ,
        </if>
        <if test="updateByUname != null and  updateByUname != ''" >
            update_By_Uname = #{updateByUname,jdbcType=VARCHAR} ,
        </if>
        <if test="updateDate != null and  updateDate != ''" >
            update_date = #{updateDate,jdbcType=TIMESTAMP} ,
        </if>
        <if test="imgGroupId != null and  imgGroupId != ''" >
            img_group_id = #{imgGroupId,jdbcType=INTEGER} ,
        </if>
        <if test="fileSize != null and  fileSize != ''" >
            file_size = #{fileSize,jdbcType=VARCHAR} ,
        </if>

     </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
        
    </update>
   
    <update id="updateByPrimaryKey" >
 UPDATE weixin_img SET
            title = #{title} , headImg = #{headImg} , mediaId = #{mediaId} , create_by = #{createBy} , create_By_UName = #{createByUname} , create_date = #{createDate} , update_by = #{updateBy} , update_By_Uname = #{updateByUname} , update_date = #{updateDate} , img_group_id = #{imgGroupId} , file_size = #{fileSize}  
        WHERE 
        id = #{id,jdbcType=INTEGER}
         
  
</update>
    
    <select id="select" resultMap="weixinImgResult">
     select 
        <include refid="Base_Column_List"/>
       
            from weixin_img WHERE 1=1  
      
                     and  id = #{id,jdbcType=INTEGER}
                 and  title = #{title,jdbcType=VARCHAR}
                 and  headImg = #{headImg,jdbcType=VARCHAR}
                 and  mediaId = #{mediaId,jdbcType=VARCHAR}
                 and  create_by = #{createBy,jdbcType=INTEGER}
                 and  create_By_UName = #{createByUname,jdbcType=VARCHAR}
                 and  create_date = #{createDate,jdbcType=TIMESTAMP}
                 and  update_by = #{updateBy,jdbcType=INTEGER}
                 and  update_By_Uname = #{updateByUname,jdbcType=VARCHAR}
                 and  update_date = #{updateDate,jdbcType=TIMESTAMP}
                 and  img_group_id = #{imgGroupId,jdbcType=INTEGER}
                 and  file_size = #{fileSize,jdbcType=VARCHAR}
        
    </select>
      
<select id="selectByExample" resultMap="weixinImgResult" >
     select 
        <include refid="Base_Column_List"/>
               from weixin_img WHERE 1=1  
      
        <if test="id != null and  id != ''" >
               and   id = #{id,jdbcType=INTEGER}
        </if>
        <if test="title != null and  title != ''" >
               and   title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="headImg != null and  headImg != ''" >
               and   headImg = #{headImg,jdbcType=VARCHAR}
        </if>
        <if test="mediaId != null and  mediaId != ''" >
               and   mediaId = #{mediaId,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null and  createBy != ''" >
               and   create_by = #{createBy,jdbcType=INTEGER}
        </if>
        <if test="createByUname != null and  createByUname != ''" >
               and   create_By_UName = #{createByUname,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null and  createDate != ''" >
               and   create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="updateBy != null and  updateBy != ''" >
               and   update_by = #{updateBy,jdbcType=INTEGER}
        </if>
        <if test="updateByUname != null and  updateByUname != ''" >
               and   update_By_Uname = #{updateByUname,jdbcType=VARCHAR}
        </if>
        <if test="updateDate != null and  updateDate != ''" >
               and   update_date = #{updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="imgGroupId != null and  imgGroupId != ''" >
               and   img_group_id = #{imgGroupId,jdbcType=INTEGER}
        </if>
        <if test="fileSize != null and  fileSize != ''" >
               and   file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
            
  </select>

<select id="selectByPageExample" resultType="java.util.HashMap" >
     select 
        a.id ,
            a.title ,
            a.headImg ,
            a.mediaId ,
           a.create_by as createBy ,
            a.create_by_uName as createByUname  ,
             date_format(a.create_date, '%Y-%m-%d %H:%i:%s' )  as createDate,
             a.update_by as updateBy  ,
            a.update_by_uName as updateByUname  ,
           date_format(a.update_date, '%Y-%m-%d %H:%i:%s' )  as updateDate,
            a.img_group_id ,
            a.file_size ,
            b.group_name as groupName
               from weixin_img a left join weixin_img_groups  b
               on a.img_group_id=b.id
                WHERE 1=1  
      
        <if test="id != null and  id != ''" >
               and   a.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="title != null and  title != ''" >
               and    a.title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="headImg != null and  headImg != ''" >
               and    a.headImg = #{headImg,jdbcType=VARCHAR}
        </if>
        <if test="mediaId != null and  mediaId != ''" >
               and    a.mediaId = #{mediaId,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null and  createBy != ''" >
               and    a.create_by = #{createBy,jdbcType=INTEGER}
        </if>
        <if test="createByUname != null and  createByUname != ''" >
               and    a.create_By_UName = #{createByUname,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null and  createDate != ''" >
               and    a.create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="updateBy != null and  updateBy != ''" >
               and    a.update_by = #{updateBy,jdbcType=INTEGER}
        </if>
        <if test="updateByUname != null and  updateByUname != ''" >
               and    a.update_By_Uname = #{updateByUname,jdbcType=VARCHAR}
        </if>
        <if test="updateDate != null and  updateDate != ''" >
               and    a.update_date = #{updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="imgGroupId != null and  imgGroupId != ''" >
               and    a.img_group_id = #{imgGroupId,jdbcType=INTEGER}
        </if>
        <if test="fileSize != null and  fileSize != ''" >
               and   f a.ile_size = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="createDateBegin != null and createDateBegin != ''" >
               <![CDATA[ and  a.create_date >= str_to_date(#{createDateBegin,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
        <if test="createDateEnd != null and createDateEnd != ''" >
                <![CDATA[ and  a.create_date <= str_to_date(#{createDateEnd,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
        
       <if test="keyword != null and  keyword != ''" >
                and ( title like concat(concat("%",#{keyword,jdbcType=VARCHAR}),"%")  )
                
        </if>
        
        order by a.id,a.create_date desc 
            
  </select>

</mapper>
