logging:
  level:
    org.springframework.web: DEBUG
    #com.github.binarywang.demo.wechat: DEBUG
wechat:
  open:
    componentAppId: "wx0901d417572264df"
    componentSecret: "9dcb2a40622077ee8d6fc0bf6fa9fcaa"
    componentToken: "Ivj6eZRx40+MTx2ZvnG8nA"
    componentAesKey: "MPWhAW4iaGMtIcpyd0AXlRUZ39Fj3XLbzTLXBTC3Q0L"
  redis:
    host: "182.92.99.67"
    password: "dkfTYF76876"
    database: 1
    connectionTimeout: 100000
server:
  port: 8011
spring:
  application:
    name: weixin-java-open-demo
  mvc: 
    view: 
      prefix: /
      suffix: .html
  redis:
    host: 182.92.99.67
    port: 6379
    password: dkfTYF76876
    database: 1
    connectionTimeout: 100000
eureka:
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:9003/eureka/
    registryFetchIntervalSeconds: 5
  instance:
      prefer-ip-address: true  
      instance-id: ${spring.cloud.client.ipAddress}:${server.port}



